<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.dev.css' />
  </head>
  <body>
  	<nav class="navbar navbar-fixed-top navbar-self" id="nav">
  	</nav>
    <div class="title">
      <h1><%= title %></h1>
      <p>Welcome to <%= title %></p>
    </div>
    <div id="bigPipe">
      我是耗时最长的数据加载，loading...
    </div>
		<div id="newPipe">
      我是耗时长的数据加载，loading...
    </div>
